.HabitForm {
  input {
    border: 0;
    border-bottom: 1px solid #AAA;
    width: 250px;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;

    transition: border 0.5s;
    -o-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -webkit-transition: border 0.5s;

    &:focus {
      outline: none;
      border-bottom: 1px solid blue;
    }
  }

  a {
    padding: 9px 20px;
    margin: 0 0 0 20px;
    border: 1px solid #777;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 3px;
    color: #777;
    text-transform: uppercase;

    transition: border 0.5s, color 0.25s;
    -o-transition: border 0.5s, color 0.25s;
    -moz-transition: border 0.5s, color 0.25s;
    -webkit-transition: border 0.5s, color 0.25s;

    &:hover {
      border: 1px solid #00C200;
      color: #00C200;
    }
  }
}
