body {
  padding-top: 20px;
}

h1 {
  font-weight: 100;
}

.app-header {
  font-size: 75px;
}

.button-primary {
  transition: background 0.15s;
  -o-transition: background 0.15s;
  -moz-transition: background 0.15s;
  -webkit-transition: background 0.15s;
}
